.nav-adm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem 1rem;
    backdrop-filter: blur(12px);
    width: 100%;
}

.nav-adm-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav-adm-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-adm-perfil img {
    border-radius: 50%;
}
.nav-adm-perfil h2 {
    color: #fff;
    font-weight: 400;
}

.link-adm {
    color: #fff;
}