nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 3rem;
}

nav a, p {
    color: var(--primary);
    font-weight: 300;
    font-size: 1.2rem;
    text-decoration: none;
}

nav img {
    max-width: 5rem;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav a:hover {
    text-decoration-line: underline;
}