.box-sobre-mim {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    width: 100%;
}

.sobre-mim {
    padding: 5rem 5rem;
    width: 100%;
    color: var(--primary);
}

.sobre-mim h1 {
    font-size: 5rem;
    font-weight: 500;
}

.sobre-mim p {
    font-size: 1.3rem;
}

.meu-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.meu-perfil .minha-pessoa {
    border-radius: 50%;
    width: 60%;
}

.mouse {
    position: absolute;
    width: 27%;
    top: 70%;
    left: 70%;
    animation: mexer-mouse 1s infinite alternate;
}

@keyframes mexer-mouse {
    from {
        transform: translateX(0) translateY(0);
    } to {
        transform: translateX(7px) translateY(7px);
    }
}

#me {
    margin-bottom: 2rem;
}

@media (max-width: 1100px) {
    .box-sobre-mim {
        flex-wrap: wrap-reverse;
    }
    .sobre-mim {
        text-align: center;
    }
    .mouse{
        top: 35%;
        width: 50%;
        left: 47%;
    }
}