.box-experiencia {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 12rem;
    height: auto;
    line-break: auto;
}

.left-side {
    text-align: start;
    width: 100%;
    padding-left: 12rem;
}

.left-side h1 {
    color: var(--primary);
    font-size: 5rem;
}

.left-side p {
    font-size: 2rem;
}

.right-side {
    text-align: end;
    width: 100%;
    padding-right: 12rem;
}

.right-side h1 {
    color: var(--primary);
    font-size: 5rem;
}

.right-side p {
    font-size: 2rem;
}

@media (max-width: 1040px) {
    .left-side {
        text-align: center;
        padding: 1rem;
    }
    .right-side {
        text-align: center;
        padding: 1rem;
    }
}