nav {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-around;
    padding: 0.1rem 1rem;
    backdrop-filter: blur(12px);
    z-index: 2;
}

nav a,
p {
    color: var(--primary);
    font-weight: 300;
    font-size: 1.2rem;
    text-decoration: none;
}

nav img {
    max-width: 4rem;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav a:hover {
    text-decoration-line: underline;
}

.cat-surprise {
    position: fixed;
    top: -100%;
    animation: surgir-gato 4s;
}

@keyframes surgir-gato {
    from {
        top: 100%
    }

    to {
        top: -100%
    }
}